body{
	background: black;
}
p{
	color: white;
	font-size: 75px;
	position: absolute;
	left: 50%;
	top: 70%;
	margin-left: -135.5px;

}
img{
	height: 430px;
	position: absolute;
	z-index: 2;
}
img:nth-of-type(2){
	top: 6%;
	left:23.5%;
	z-index: 9;
}
img:nth-of-type(1){
	left: 10%;
	top: 15%;
	z-index: 10;
}
img:nth-of-type(3){
	z-index: 1;
	left:50%;
	margin-left: -143px;
}
img:nth-of-type(5){
	right: 10%;
	top: 15%;
	z-index: 10;
}
img:nth-of-type(4){
	top: 6%;
	right:23.5%;
	z-index: 9;
}
img:nth-of-type(6){
	left: 33%;
	top:83%;
	height: 13%;
}
img:hover{
	transform: scale(1.2);
	z-index:90 ;
}
